* {
    margin:0;
    padding:0;
}
body {
    background-color: #eff0f4;
    min-width: 320px;
}
.header,.footer {
    background-color: #5fc0cd;
    width:100vw;
    height:86px;
}
.head_left {
    float: left;
    margin-left: 4%;
    vertical-align: middle;
}
.head_right {
    float:right;
    margin-right: 4%;
}
.head_mid {
    margin:0 20%;
    text-align:center;
}
p {
    font:1em "Microsoft Yahei";
    color: white;
    line-height: 86px;
}
.head_mid p {
    font-size: 1.2em;
}
.id,.pas {
    background-color: white;
    margin-top: 16px;
    width:100vw;
    height:14vw;
    overflow: hidden;
}
label {
    float: left;
    width: 23%;
    height: 14vw;
    text-align: center;
}
img {
    max-width: 27px;
    width: 20%;
    position: relative;
    display: inline-block;
    /*使图片居中*/
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
input {
    float: left ;
    position: relative;
    height: 42px;
    width: 70%;
    /*使输入框居中*/
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    /*清除输入框样式*/
    -webkit-appearance: none;
    -moz-appearance: none;
    /*去掉输入框边框*/
    border: 0;
    border-left:2px solid #EAEDEE;
    text-indent: 5em;
    font: 1em "Microsoft Yahei";
    /*去除点击输入框的边框颜色*/
    outline: none;
}
.footer{
    margin-top:10vw;
}
button {
    border: none;
    font-size: 1.2em;
    font-family: Microsoft YaHei, serif;
    color: white;
    background: rgb(95,192,205);
    width: 100%;
    line-height: 86px;
}
